*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}
nav{
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}
nav > h2{
  padding-right: 15px;
}
nav > ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  
}
ul > li > a{ 
  text-decoration: none; 
  color: black;
  padding: 0 15px;
}
.banner{
  background-image: url("/images/banner.jpg");
  max-width: 1200px;
  height: 400px;
  margin: 0 auto 40px;
}
/* ---------------- */
.show1-container,.show3-container{
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show1-container > .show1-left{
  width: 49%;
  background-image: url("images/event.jpg");
  height: 520px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.show1-container > .show1-right{
  width: 49%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.show1-container > .show1-right > .show1-pic{
  width: 49%;
  height: 250px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.show1-container > .show1-right > .show1-pic:hover .show1-text{
  bottom: 0;
}
.pic1{
  background-image: url("images/01.jpg");
}
.pic2{
  background-image: url("images/02.jpg");
}
.pic3{
  background-image: url("images/03.jpg");
}
.pic4{
  background-image: url("images/04.jpg");
}
.show1-container > .show1-right > .show1-pic > .show1-text{
  text-align: center;
  color: white;
  position: absolute;
  bottom: -30px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  transition: all .3s;
  letter-spacing: 3px;
}
/* ----------------- */
.show2-pic{
  background-image: url("images/big-pic.jpg");
  max-width: 1200px;
  height: 400px;
  margin: 0 auto 40px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
/* -------------------- */
.show3-container > .show3-left{
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.show3-container > .show3-right{
  width: 49%;
  background-image: url("images/event.jpg");
  height: 520px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.show3-container > .show3-left > .show3-pic{
  width: 49%;
  height: 270px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
.pic5{
  background-image: url("images/05.jpg");
}
.pic6{
  background-image: url("images/06.jpg");
}
.pic7{
  background-image: url("images/07.png");
  width: 100%;
  height: 230px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

/* ------------ */
.footer{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0;
  line-height: 35px;
  background-color: #EEEEEE;
}
.footer > .footer-icon{
  font-size: 30px;
  padding: 0 10px;

}